<!DOCTYPE>
<html>
	<head>
		<title>助驾帮教练签约协议</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	</head>
	<body style="background-color:#ededed;text-align:center">
		<img src="../img/ok.gif" style="width:50%;margin-top:20%">
		<p style="font-size:1.2em;margin-top:14px;margin-bottom:14px;">保单信息已经成功提交</p>
		<p>请耐心等待信息确认</p>
	</body>
</html>