<!DOCTYPE>
<html>
	<head>
		<title>驾培自学直考真的就有想象的那么美好？</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body style="text-align:center;">
		<div class="header">
			<span><img src="" class="coachHeader"></span>
			<span class="coachName"></span>
			<span style="color:#c8c8c8;margin-left:5px;">推荐您阅读</span>
			<div class="clear"></div>
		</div>
		<div class="container" style="margin-top:10px;">
			<h1 class="single-post__title">驾培自学直考真的就有想象的那么美好？</h1>
			<div class="light">
				<span><img src="../img/icon_time.png" style="width:16px;"></span>
				<span>2016-1-26</span>
			</div>
			<div class="light" style="margin-left:10px;">
				<span><img src="../img/icon_tag.png" style="width:16px"></span>
				<span>驾照，自学直考</span>
			</div>
			<div class="clear"></div>
			<div class="none"></div>
			<div class="article">
				<p class="title">《关于推进机动车驾驶人培训考试制度改革的意见》的出台，说明我国驾考制度进入全面改革的前夜。驾照“自学直考”成为市民最受关注的话题。许多专家认为，开展驾照自学直考，赋予了公民更多选择权，也倒逼驾培行业提高培训质量和服务水平。而事实上，自备车辆加装辅助刹车，上哪儿找到合适场地、科目二里的单边桥等又怎么办？一连串的问题，预示着自学直考之路并非一路坦途。不少老司机和学车的市民都表示，驾照自学直考听上去很美，要达到要求，实际操作难度还是有点大。
                </p>
			</div>
			<img class="image" src="../img/QQImage_5115953.jpg">
		</div>
		<div class="clear"></div>
		<div class="container" style="margin-bottom:90px">
			<div class="main" class="width:96%;margin:0 auto;margin-top:30px;">
				<img src="../img/luntai-.jpg" style="width:20%;float:left">
				<h2 style="margin-top:15px;"><b>学员的烦恼:训练用车和教车人哪里找？</b></h2>
				<div class="clear"></div>
				<p> 随着汽车保有量的猛增，驾考日渐火爆，驾培市场供不应求。“自学直考”的意见出台，是在作好安全教学和严格考试的前提下，允许驾照“自学”，自备车辆。对此，大多数市民表示，就目前的情况来看，“自学直考”的门槛还是太高，操作难度系数大。</p>
				<p>“加装安全装置要花钱，更重要的是，我会担心对我的车子有损伤。”市民张先生对《意见》有些疑惑，自己在拿到驾照前不准备买车，那么学车的用车和教车的人哪里去找？“既然不能是经营性的，那就只能朋友三四义务帮忙。学车要好几个月，谈何容易？”</p>
				<!-- <img class="image" src="http://a.36krcnd.com/nil_class/185c62a4-4f17-4eb8-a0a7-b01a464cc3e7/8e67959f6a422f9be8e07a159982be22.jpg"> -->
				<!-- <p style="margin-top:0px"><i>（图片来源：新华社）</i><br>再具象一些，这两年中老年群体进入大众视野最蛮横强势的形象便是：跳广场舞的大爷大妈。2015年年 底，淘宝发布 2015 中国互联网消费趋势报告，其中特别提到中老年群体的线上的舞蹈消费数据：“2011年，中老年人舞蹈消费占比几乎为零。但在 2015年 前三季度中，中老年人消费超过三成，其中购买舞蹈类产品的中老年深度用户占比超过 8 成，且移动端占比呈爆发式增长状态。”</p> -->
				<!-- <p>报告中的另一项数据是，50 岁以上的中老年淘宝用户已经达到 175 万人，其中男性占比 48.7%，女性所占比例略高于男性，有 130 万人成功完成过网上交易。</p> -->
				<!-- <p>人群消费存在的规律是，口子一旦开了，流水便没有逆流的道理。蛋糕就摆在那里，至于怎么吃，就要看商家各自的神通了。</p> -->
			</div>
			<div class="main" class="width:96%;margin:0 auto;">
				<img src="../img/luntai-.jpg" style="width:20%;float:left">
				<h2 style="margin-top:15px;"><b>教车人担心：教朋友开出了事要负主责</b></h2>
				<div class="clear"></div>
				<p>根据《意见》内容，为了保证安全，自学驾驶过程中，随车指导人员必须具备一定年限的安全守法驾驶经历。</p>
				<p>作为一名有着5年驾龄、几乎没有违章记录的司机，凌先生对“应聘教练员”还是持保守态度。“‘一定年限’的定义很模糊，如果教车的人不合格，不知道会教出多少‘黄司机’。”凌先生说。</p>
				<p>此外，根据《意见》精神，在练车过程中发生交通违法和交通事故，学车人员、指导人员要依法承担法律责任。“在学车中因过失引发事故，教练员应承担法律上的主体责任。”记者采访中，许多司机都有同样的担心：如果受朋友之托当教练，一旦路上出了事，自己要负法律的主要责任，风险太大，很可能“好心办坏事”。</p>
				<!-- <img class="image" src="http://a.36krcnd.com/nil_class/74befa56-a7cf-42bf-a1a2-13cebb99adb1/82fe91bb92ffbfeb860b8d5caf56b4aa.jpg_heading.jpeg"> -->
				<!-- <p style="margin-top:0px">为了印证自己想法的可行性，方惠还用了几个月的时间专门做了一份详尽的中国广场舞调研报告，去年10月 授权 36 氪发布，题为<a href="http://36kr.com/p/5039058.html" target="_blank">《我们的下一片蓝海，是一亿的广场舞大妈》</a>，在方惠看来，“广场舞大妈 “是我们这个时代神奇的存在，她们 “上可买黄金搅局华尔街，下可做配送搞定 O2O，出可占领红场卢浮宫时代广场，入可让神曲火遍大江南北。”</p> -->
				<!-- <p>而他们的神奇更在于，隐形的消费能力。去年就有银行理财业务员混进广场舞队伍，在大妈中间搞定 500 万元大单的新闻。</p> -->
				<!-- <p>考虑到广场舞人群的特点，方惠和团队放弃了做网站和 APP 的想法，专做面向广场舞群体的平板电脑。</p> -->
			</div>
			<div class="main" class="width:96%;margin:0 auto;">
				<img src="../img/luntai-.jpg" style="width:20%;float:left">
				<h2 style="margin-top:15px;"><b>关键问题：分次计费，会更贵还是更便宜？</b></h2>
				<div class="clear"></div>
				<p>成都一资深驾校教练王先生没觉得“分次缴费、计时收费”这条意见动了自己的“铁饭碗”，“计时收费意味着市场更开放，如果学员能统一购买学时，在这个教练这里学了3小时觉得不安逸，下次就可以换教练。这样也能促进市场的良性发展，优胜劣汰。对于负责的好教练来说，反而是好事。”</p>
				<p>但是，计时收费会不会更贵呢？王先生认为这要看政策落地的具体实施过程。“我们现在是打包收费，自然会有所优惠，如果计时收费，按照现在科目二、三必须学够学时来计算，也可能比打包价更贵。”</p>
				<p>驾培行业积踵重重，改革路途漫长，政策具体落地实施还需时间，希望新的政策能够为教练，学员以及整个驾培行业带来新的面貌。</p>
				<i style="font-size:0.5em;"> 消息来源（腾讯.大成网）</i>
				<!-- <p>市面上也有不少产品是指向子女的，但是按照中国人的传统经验，给父母送个电子产品，似乎远不如保健品、水果、保暖内衣来的简单直接。</p> -->
				<!-- <p>大爷大妈不是没钱，但创业企业不可能像银行理财或房地产企业那样财大气粗搞地推，所以方惠最终的总结是，互联网时代老年市场的关键在于分发，不是需求的问题，也不是钱的问题，关键在于产品和老年消费者之间至今仍不存在的平台的搭建问题。</p> -->
				<!-- <p>年轻人关心的产品设计是不是完美，用户服务是不是到位，在同大爷大妈们搭上线之前，似乎都是伪命题。</p> -->
				<!-- <img class="image" src="http://a.36krcnd.com/nil_class/b5191873-54d1-4903-b439-6f5ee8b0fe81/Screen_Shot_2015-10-29_at_9.50.30.png" > -->
				<!-- <p style="margin-top:0px">而这个平台的建成，需要时间、资本以及大量的人力去养成老年人的消费习惯。通过调研，方惠观察到是，现阶段针对广场舞群体来说，最有效的方法是搞定广场舞团队中的领舞，就像一首新曲子的传播一样，一旦领舞觉得这个东西好，示范效应相当明显。</p> -->
				<!-- <p>像他的 “大福” 平板，领舞觉得好推荐给周围的舞伴，购买行为就很好促成。互联网时代的智能产品，要倒腾到老头儿老太太手里，最有效的方法仍是遵循旧的传统。</p> -->
				<!-- <p>在老年人消费市场，找到准确的意见领袖，往往是那把最关键的钥匙。这让方惠看到机会的同时、也倍觉苦恼：这真的是个大工程。</p> -->
			</div>
		</div>
		<div class="footer">
			<div class="imgLeft">
				<img src="../img/icon_light_off.png" class="lightShan">
				<p>
					<span>点灯</span>
					<span>(</span>
					<span class="count">156</span>
					<span>)</span>
				</p>
			</div>
			<div class="imgLeft">
				<img src="../img/icon_share.png" class="takeoff">
				<p>
					<span>传播</span>
					<span>(</span>
					<span class="countTemp">200</span>
					<span>)</span>
				</p>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>