<!DOCTYPE>
<html>
	<head>
		<title>不堪回首的学车经历</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<SCRIPT src="../js/lib/jquery.min.js"></SCRIPT>
		<script src="../js/lib/weixin.js"></script>
		<script src="../js/script/config.js"></script>
		<script src="../js/lib/bootstrap.min.js"></script>
	</head>
	<body style="text-align:center;">
		<div class="header">
			<span><img src="" class="coachHeader"></span>
			<span class="coachName"></span>
			<span style="color:#c8c8c8;margin-left:5px;">推荐您阅读</span>
			<div class="clear"></div>
		</div>
		<div class="container" style="margin-top:10px;">
			<h1 class="single-post__title">不堪回首的学车经历</h1>
			<div class="light">
				<span><img src="../img/icon_time.png" style="width:16px;"></span>
				<span>2016-1-27</span>
			</div>
			<div class="light" style="margin-left:10px;">
				<span><img src="../img/icon_tag.png" style="width:16px"></span>
				<span>学车，不堪回首</span>
			</div>
			<div class="clear"></div>
			<div class="none"></div>
		</div>
		<div class="clear"></div>
		<div class="container" style="margin-bottom:90px">
			<div class="main" style="width:96%;margin:0 auto;margin-top:20px;">
				<img src="../img/luntai-.jpg" style="width:20%;float:left">
				<h2 style="margin-top:15px;"><b>“悲惨”的教练，“悲惨”的我</b></h2>
				<div class="clear"></div>
				<p> 1、今天第一次去驾校，练车前，教练叫我看看油箱还有多少油，我拧开油箱盖，光线太暗，看了半天也没看清楚。我顺手摸出打火机凑近油箱口，就在我准备按下打火机时，师父一脚把我踹飞了，尼玛这教练脾气太坏了。我强忍着没发火，练车时，刚好是下坡，一紧张猛踩油门，教练大喊：“刹车！！用脚刹！”我连忙打开车门，一只脚放在地上，鞋底狠命的摩擦着地面！摩擦摩擦，魔鬼的步伐！拖行了20多米，车终于停下来了！教练吓傻了，拿了五十块钱让我去给他买包中华压压惊！当时我就很郁闷，怎么还有拿牙膏压惊的！当我把十盒中华牙膏递给他时，他默默的退还了我全部学费，说：隔壁还有一家驾校，我说：我就是隔壁那家介绍过来的！</p>
				<img class="image" src="../img/QQImage_30822187.jpg">
				<p>2、媳妇今天去驾校学车，教练突然打电话过来：“你老婆开车下陡坡撞墙了，赶紧带钱到医院来！”楼主脑袋一嗡赶紧问：“她撞的怎么样了？”教练：“她跳车跑了！”楼主松了口气说：“那就好，那…那医院我也不用去喽？”教练火了：“特玛的我们都在医院里呢！”</p>
				<p>3、教练：“加油！”我：“我会的！”教练：“加油！”我：“谢谢教练！”教练：“我tm的让你踩油门！”</p>
				<img class="image" src="../img/QQImage_30835484.jpg">
				<p>4、路考的时候太紧张，把安全带插在了副驾的卡口里，我还问考官，你咋不系安全带呀，考官看了我一眼说：你开心就好</p>
				<p>5、开车的时侯，一个上坡，等红绿灯，绿灯来了一直不敢走，这时交警来了问我说，咋了没你喜欢的色儿啊？</p>
				<img class="image" src="../img/QQImage_30843140.jpg">
				<p>6、教练:看到前面那个人没，开过去，撞死他！我:啊，我，我，我不敢……教练:你不敢？你还不敢？你他妈不敢你还不赶紧松油门？</p>
				<p>7、以前倒桩都要摆杆，有个年纪稍大的女学员总算是把驾照考到了。几天后，她老公找的驾校，质问教练是怎么教的：“我老婆出门得带四根杆才敢倒车！”</p>
				<p>8、倒桩考试，考评员从屋里冲出来挥动拳头冲我吼道：“不及格！！！撞倒七个，你tmd怎么学的！”我说:“我承认我驾驶技术差，可你也不要太夸张好不好！一共六个竿，哪儿来的七个？”他说:"那不教练也在那儿躺着呢！</p>
				<p>未完待续.....</p>
			</div>
		</div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  	<div class="modal-dialog modal-sm">
		      	<img src="../img/guide.png" style="width:100%">
		 	</div>
		</div>
		<div class="footer">
			<div class="imgLeft">
				<img src="../img/icon_light_off.png" class="lightShan">
				<p>
					<span>点灯</span>
					<span>(</span>
					<span class="count"></span>
					<span>)</span>
				</p>
			</div>
			<div class="imgLeft">
				<img src="../img/icon_share.png" class="takeoff">
				<p>
					<span>传播</span>
					<span>(</span>
					<span class="countTemp"></span>
					<span>)</span>
				</p>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		var getQueryStr=function(state){
			var reg = new RegExp("(^|&)" + state + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var state=getQueryStr("state");
		var coachId=state.split("_._")[0];
		var taskId=state.split("_._")[1];
		var getQueryStr=function(code){
			var reg = new RegExp("(^|&)" + code + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var code=getQueryStr("code");
		var customerId;
		var IsLighted;
		$.post(BASE_URL+"/zhujbwx/newsmodel/info",{
			 coachid:coachId,
			 code:code,
			 taskid:taskId
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				var headimg=result.coach.Headimgurl;
				$(".coachHeader").attr("src",headimg);
				var name=result.coach.Nickname;
				$(".coachName").html(name+"教练");
				var studentInfo= result.user;
				customerId=studentInfo.Customerid;
				IsLighted=studentInfo.IsLighted;
				if(IsLighted == 1){
					$(".lightShan").attr("src","../img/icon_light_off.png");
				}else{
					$(".lightShan").attr("src","../img/icon_light_on.png");
				}
				// Id,Nickname,Wxavator,Openid,Sex,Coachid,Rewards,Message,Inserttime,OpenCount,ShareCount
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		$.post(BASE_URL+"/zhujbwx/newsmodel/count",{
			 taskid:taskId
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				var light=result.allLighted;
				var shareCount=result.allShared;
				$(".count").html(light*3);
				$(".countTemp").html(shareCount*3)
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		$(".lightShan").on("click",function(){
			var src=$(this).attr("src");
			if(src == "../img/icon_light_off.png"){
				$.post(BASE_URL+"/zhujbwx/newsmodel/setinfo",{
					taskid:taskId,
					customerid:customerId,
					coachid:coachId
				},function(data){
					var result=JSON.parse(data);
					if(result && result.result == true){
						var countTemp=Number($(".count").html());
							countTemp=countTemp+1;
							$(".count").html(countTemp)
						$(".lightShan").attr("src","../img/icon_light_on.png");
					}else if(result && result.msg){
						alert(result.msg)
					}
				})
			}else if(src == "../img/icon_light_on.png"){
				alert("您已经点过灯了哦~")
			}
		})
		$(".takeoff").on("click",function(){
			$(".modal").modal("show");
		})
		$(".modal").on("click",function(){
			$(".modal").modal("hide");
		})
		var url=location.href.split("#")[0];
		$.post(BASE_URL+"/zhujbwx/getsignature2/",{
			url:url
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true ){
				var timestamp=result.timestamp,
					nonceStr=result.noncestr,
					signature=result.signature;
				wx.config({
				    debug: false, 
				    appId: 'wx8bbeb53d26dbe214', 
				    timestamp:timestamp, 
				    nonceStr: nonceStr,
				    signature:signature,
				    jsApiList: [
				    	"onMenuShareTimeline",
				    	"onMenuShareAppMessage",
				    	"onMenuShareQZone",
				    	"onMenuShareQQ"
				    ] 
				});
				wx.ready(function(){
					wx.onMenuShareTimeline({
				        title: '他们是这样学车的', // 分享标题
					    link: 'http://webapp.idrv.com.cn/infoItem?coachId='+coachId +"&taskId="+taskId, // 分享链接  寻找教练webview
					    imgUrl: 'http://webapp.idrv.com.cn/infoTemp/img/icon.jpg', // 分享图标
				        success: function () { 
				           $.post(BASE_URL+"/zhujbwx/newsmodel/sharecount",{
				           		taskid:taskId,
								customerid:customerId,
								coachid:coachId
							},function(data){
								var result=JSON.parse(data);
								if(result && result.result == true){
									var countTemp=Number($(".countTemp").html());
									countTemp=countTemp+1;
									$(".countTemp").html(countTemp)
								}else if(result && result.msg){
									alert(result.msg)
								}
							})
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareAppMessage({
				        title: '他们是这样学车的', // 分享标题
				        desc: '你是否也有这样的经历呢？', // 分享描述
					    link: 'http://webapp.idrv.com.cn/infoItem?coachId='+coachId +"&taskId="+taskId, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/infoTemp/img/icon.jpg', // 分享图标
				        type: 'link', // 分享类型,music、video或link，不填默认为link
				        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				        success: function (){ 
				            $.post(BASE_URL+"/zhujbwx/newsmodel/sharecount",{
				            	taskid:taskId,
								customerid:customerId,
								coachid:coachId
							},function(data){
								var result=JSON.parse(data);
								if(result && result.result == true){
									var countTemp=Number($(".countTemp").html());
									countTemp=countTemp+1;
									$(".countTemp").html(countTemp)
								}else if(result && result.msg){
									alert(result.msg)
								}
							})
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareQQ({
					    title: '他们是这样学车的', // 分享标题
				        desc: '你是否也有这样的经历呢？', // 分享描述
					    link: 'http://webapp.idrv.com.cn/infoItem?coachId='+coachId +"&taskId="+taskId, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/infoTemp/img/icon.jpg', // 分享图标
					    success: function () { 
					      $.post(BASE_URL+"/zhujbwx/newsmodel/sharecount",{
					      		taskid:taskId,
								customerid:customerId,
								coachid:coachId
							},function(data){
								var result=JSON.parse(data);
								if(result && result.result == true){
									var countTemp=Number($(".countTemp").html());
									countTemp=countTemp+1;
									$(".countTemp").html(countTemp)
								}else if(result && result.msg){
									alert(result.msg)
								}
							})
					    },
					    cancel: function () { 
					       // 用户取消分享后执行的回调函数
					    }
					});
					wx.onMenuShareQZone({
					    title: '他们是这样学车的', // 分享标题
				        desc: '你是否也有这样的经历呢？', // 分享描述
					    link: 'http://webapp.idrv.com.cn/infoItem?coachId='+coachId +"&taskId="+taskId, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/infoTemp/img/icon.jpg', // 分享图标
					    success: function () { 
					       $.post(BASE_URL+"/zhujbwx/newsmodel/sharecount",{
					       		taskid:taskId,
								customerid:customerId,
								coachid:coachId
							},function(data){
								var result=JSON.parse(data);
								if(result && result.result == true){
									var countTemp=Number($(".countTemp").html());
									countTemp=countTemp+1;
									$(".countTemp").html(countTemp)
								}else if(result && result.msg){
									alert(result.msg)
								}
							})
					    },
					    cancel: function (){ 
					        // 用户取消分享后执行的回调函数
					    }
					});
				})
			}else if(result && result.msg){
				var errorInfo=result.msg;
	 			alert(errorInfo);
	 		}
		})
	})
</script>