<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>斯柯达Yeti</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta Content-Type="application/x-www-form-urlencoded" />
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<script src="../js/lib/jquery-1.9.1.min.js"></script>
	<script src="../js/lib/jquery-migrate-1.1.1.min.js"></script>
	<script src="../js/lib/jquery.ccslider-3.0.2.min.js"></script>
	<script src="../js/lib/bootstrap.min.js"></script>
	<script src="../js/script/config.js"></script>
	<script src="../js/lib/weixin.js"></script>	
</head>
<body>
	<div class="header">
		<p class="title">斯柯达Yeti,新春特惠</p>
		<div id="slider">
			<img src="../images/car1.jpg" alt="This is an example of a simple caption" data-caption-position="bottom" data-transition='{"effect": "cubeUp", "slices": 3, "animSpeed": 1200, "delay": 100, "delayDir": "fromCentre", "easing": "easeInOutBack", "depthOffset": 300, "sliceGap": 30}' />
			<img src="../images/car2.jpg" alt="" data-captionelem="#caption" data-caption-position="top" data-transition='{"effect": "cubeRight", "slices": 5, "delay": 100}' />
			<img src="../images/car3.jpg" alt="Images can also serve as links. To see this in effect click on this slide image" data-caption-position="left" data-href="https://google.com" data-transition='{"effect": "cubeDown", "slices": 9, "animSpeed": 3000, "delay": 30, "easing": "easeInOutElastic", "depthOffset": 200, "sliceGap": 20}' />
			<img src="../images/car4.jpg" alt="" data-transition='{"effect": "cubeLeft", "slices": 5, "delay": 100, "delayDir": "toCentre"}' />
			<img src="../images/car5.jpg" alt="" data-transition='{"effect": "cubeUp", "slices": 5, "animSpeed": 1300, "delay": 100, "easing": "easeInOutCubic", "depthOffset": 500, "sliceGap": 50}' />
			<img src="../images/car7.jpg" alt="" data-transition='{"effect": "cubeLeft", "slices": 3, "delay": 100, "easing": "easeInOutCubic", "depthOffset": 500, "sliceGap": 50}'/>
			<img src="../images/car8.jpg" alt="" data-transition='{"effect": "cubeDown", "slices": 5, "delay": 100, "easing": "easeInOutCubic", "depthOffset": 500, "sliceGap": 50}' />
			<img src="../images/car6.jpg" alt="" data-transition='{"effect": "cubeRight", "slices": 5, "delay": 100, "delayDir": "last-first"}' />
		</div>
		<div id="caption" class="cc-caption"></div>
	</div>
	<img src="../images/white_border.png" style="width:100%;height:20px;margin-top:-20px">
	<!-- <div class="main">
		<div class="navList">
			<span class="titleMain"><img src="../images/title_icon.png"></span>
			<span class="titleMain" style="margin-left:30px">活动车型</span>
			<div class="clear"></div>
			<p  class="mainContent">
				<span style="padding-left:0.5em;text-align:left;float:left">
					车型
				</span>
				<span style="padding-right:0.5em;text-align:right;float:right">
					指导价
				</span>
			</p>
			<p  class="mainContentTon">
				<span style="padding-left:0.5em;text-align:left">
					斯柯达YETI 1.8T极地版(备胎)
				</span>
				<span style="padding-right:0.5em;text-align:right;float:right">
					22.38万
				</span>
			</p>
			<p  class="mainContentTon">
				<span style="padding-left:0.5em;text-align:left">
					斯柯达YETI 1.8T极地版
				</span>
				<span style="padding-right:0.5em;text-align:right;float:right">
					21.78万
				</span>
			</p>
		</div>
		<div class="clear"></div>
		<div class="navList" style="margin-top:40px">
			<span class="titleMain"><img src="../images/title_icon.png"></span>
			<span class="titleMain" style="margin-left:30px">活动截至时间</span>
		</div>
		<div class="clear"></div>
		<p class="describe">2016年2月5号</p>
		
		<div class="navList" style="margin-top:30px">
			<span class="titleMain"><img src="../images/title_icon.png"></span>
			<span class="titleMain" style="margin-left:30px">活动地域</span>
		</div>
		<div class="clear"></div>
		<p class="describe">全国用户均可</p>
	</div> -->
	<div class="none"></div>
	<div class="footer">
		<div class="clear"></div>
		<div class="navList" style="margin-top:10px">
			<span class="titleMain"><img src="../images/title_icon.png"></span>
			<span class="titleMain" style="margin-left:10px">活动优惠</span>
		</div>
		<div class="clear"></div>
		<img src="../images/quan1.png" style="width:98%;margin-top:5px;margin-left:1%">
		<img src="../images/quan2.png" style="width:98%;margin-top:15px;margin-left:1%">
		<img src="../images/quan3.png" style="width:98%;margin-top:15px;margin-left:1%">
	</div>
	<div class="fixedButton">
		<img src="../images/chat_icon.png" style="width:1.5em">
		<span>立即咨询</span>
	</div>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  	<div class="modal-dialog modal-sm">
	      	<div class="content" style="background-color: white;width:96%;margin:0 auto;margin-top:20%">
	      		<p class="info">请留下您的购车信息我们将尽快联系您</p>
	      		<div class="inputForm" style="margin-top:0px;">
	      			<span class="leftInfo">姓名</span>
	      			<span><input type="text" class="name" required placeholder="您的姓名"></span>
	      		</div>
	      		<div class="inputForm">
	      			<span class="leftInfo " >电话</span>
	      			<span><input type="text" class="phone" required placeholder="您的电话"></span>
	      		</div>
	      		<div class="inputForm">
	      			<span class="leftInfo" style="padding-left:1em;width:7em">预计购车</span>
	      			<span>
	      				<select name="timeTemp" class="timeTemp">
	      					<option value="1">一个月之内</option>
	      					<option value="2">一个月到三个月</option>
	      					<option value="3">三个月到半年</option>
	      					<option value="4">半年以上</option>
	      				</select>
	      			</span>
	      		</div>
	      		<button type="submit" class="submit">提交</button>
	    	</div>
	 	</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$(function(){
			$('#demo-nav').find('a').tooltip({effect: 'slide'});
		});
		$(window).load(function(){
			$('#slider').ccslider({
				_3dOptions: {
					imageWidth: 380,
					imageHeight: 250
				}
			});
			$('#left-banner').ccslider({
				effectType: '2d',
				effect: 'random'
			});
		});
		$(".fixedButton").on("click",function(){
			$(".modal").modal("show")
		})
		$(".submit").on("click",function(){
			var name=$(".name").val();
			var phone=$(".phone").val();
			var time=$(".timeTemp").val();
			if(!phone.match(/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1})|(14[0-9]{1}))+\d{8})$/)){
				alert("请输入正确的手机号");
			}else if(!name){
				alert("请输入您的姓名")
			}else {
				alert("提交成功");
				$(".modal").modal("hide");
			}
		})
	})
</script>
	
</html>