<!DOCTYPE>
<html>
	<head>
		<title>猴年购车大礼包第一弹</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../js/lib/weixin.js"></script>
		<script src="../js/lib/jquery.min.js"></script>
		<script src="../js/script/config.js"></script>
	</head>
	<body>
		<div class="container-fulid" >
			<img src="../img/four.png" class="check"  style="width:60%;position:absolute;top:70%;left:20%">
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		//获取openid
		var getQueryStr=function(coachId){
			var reg = new RegExp("(^|&)" + coachId + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var coachId=getQueryStr("coachId");
		var getQueryStr=function(openId){
			var reg = new RegExp("(^|&)" + openId + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var openId=getQueryStr("openId");
		var url=location.href.split("#")[0];
		$.post(BASE_URL+"/zhujbwx/getsignature2/",{
			url:url
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true ){
				var timestamp=result.timestamp,
					nonceStr=result.noncestr,
					signature=result.signature;
				wx.config({
				    debug: false, 
				    appId: 'wx8bbeb53d26dbe214', 
				    timestamp:timestamp, 
				    nonceStr: nonceStr,
				    signature:signature,
				    jsApiList: [
				    	"onMenuShareTimeline",
				    	"onMenuShareAppMessage",
				    	"onMenuShareQZone",
				    	"onMenuShareQQ"

				    ] 
				});
				wx.ready(function(){
					wx.onMenuShareTimeline({
				        title: '手慢无！猴年神秘红包来袭！', // 分享标题
					    link: 'http://party.idrv.com.cn?coachId='+coachId, // 分享链接  寻找教练webview
					    imgUrl: 'http://party.idrv.com.cn/img/share.png', // 分享图标
				        success: function () { 
				           
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareAppMessage({
				        title: '手慢无！猴年神秘红包来袭！', // 分享标题
				        desc: '紫气东升，金猴送福', // 分享描述
					    link: 'http://party.idrv.com.cn?coachId='+coachId, // 分享链接
					    imgUrl: 'http://party.idrv.com.cn/img/share.png', // 分享图标
				        type: 'link', // 分享类型,music、video或link，不填默认为link
				        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				        success: function (){ 
				            
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareQQ({
					    title: '手慢无！猴年神秘红包来袭！', // 分享标题
					    desc: '紫气东升，金猴送福', // 分享描述
					    link: 'http://party.idrv.com.cn?coachId='+coachId, // 分享链接
					    imgUrl: 'http://party.idrv.com.cn/img/share.png', // 分享图标
					    success: function () { 
					       
					    },
					    cancel: function () { 
					       // 用户取消分享后执行的回调函数
					    }
					});
					wx.onMenuShareQZone({
					    title: '手慢无！猴年神秘红包来袭！', // 分享标题
					    desc: '紫气东升，金猴送福', // 分享描述
					    link: 'http://party.idrv.com.cn?coachId='+coachId, // 分享链接
					    imgUrl: 'http://party.idrv.com.cn/img/share.png', // 分享图标
					    success: function () { 
					       
					    },
					    cancel: function () { 
					        // 用户取消分享后执行的回调函数
					    }
					});
				})
			}else if(result && result.msg){
				var errorInfo=result.msg;
	 			alert(errorInfo);
	 		}
		})
		$(".check").on("click",function(){
			$("body").fadeOut(1000,function(){
				window.location.href="/redpacket/template/mission.html?coachId="+coachId+"&openId="+openId;
			})
		})
	})
</script>