<!DOCTYPE>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../js/lib/zetpo.min.js"></script>
		<script src="../js/script/config.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="content" style="background-color:white">
				<h1 class="buiness">商品信息</h1>
				<p class="detaile">试乘试驾</p>
				<p class="detaile">价格:<span>0元/90分钟</span></p>
				<p class="detaile" style="padding-bottom:10px">服务份数:1</p>
			</div>
			<div class="content" style="background-color:white">
				<h1 class="buiness">订单信息</h1>
				<div class="info">
					<span>下单时间:</span>
					<span class="timeout"></span>
				</div>
				<div class="info">
					<span>预留手机:</span>
					<span class="phoneOut"></span>
				</div>
				<div class="info">
					<span>练车地址:</span>
					<span class="addressout"></span>
				</div>
				<div class="info" style="padding-bottom:15px">
					<span>服务时间:</span>
					<span class="severout"></span>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$.post(BASE_URL+"/enroll/trydirve/gettrydrive.do",{

		},function(result){
			if(result && result.resultcode == "0"){
				var phonenum=result.tryDrive.phonenum;
					whichday=result.tryDrive.whichday,
					fromtime=result.tryDrive.fromtime,
					ordertime=result.tryDrive.ordertime,
					address=result.tryDrive.address;
				$(".timeout").html(ordertime);
				$(".phoneOut").html(phonenum);
				var html="<i class='siteTime'>"+whichday+"</i>"+fromtime;
				$(".severout").html(html);
				$(".addressout").html(address);
			}else if(result && result.resultcode == "-3"){
				// location.href="/ride/template/phone.html";
			}else if(result && result.resultcode == "-1"){
				// alert("sorry,程序错误");
			}else if(result && result.resultcode == "-4"){
				// location.href="/ride/template/yuyue.html";
			}
		})
	})
</script>
