<!DOCTYPE>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<img src="../img/success.png" class="success">
				<h1 class="wordPress" style="margin-top:10%">提交成功,敬请期待</h1>
			</div>
			<div class="foot" style="padding-left:0px">
				<a href="/ride/template/lookpayMent.html"><button class="login" style="width:60%;border-radius:0px;margin-left:20%">查看订单</button></a>
			</div>
		</div>
	</body>
</html>