body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; /*font-family: Verdana, Arial, Helvetica, sans-serif; */}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.container{
  width: 100%;
}
.title{
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: white;
  background-color: #6ed4e2;
  text-align: center;
  box-shadow: 3px 2px 5px #dcdcdc;
  font-size: 1.5em
}
.header{
  width: 100%;
  margin-top: 60px;
  padding-top: 10px;
}
.header p{
  height: 20px;
  line-height: 20px;
  margin-left: 1em;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.content{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.content-left{
  height: 60px;
  margin-left: 5%;
  width: 45%;
  border: none;
  float: left;
  background-color: #4664a2;
  color: white;
}
.content-left p{
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
}
.chosen{
  position: relative;
  top:-30px;
  left: 80%;
  width: 20px;
}
.content-right{
  float: left;
  margin-left: 5%;
  border: none;
  background-color: #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-right p{
  height: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}
.information span{
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.information span input{
  padding-left: 1em;
  height: 40px;
  line-height: 40px;
  border: none;
}
.information {
  border-bottom: 1px solid #e1e1e1;
}
.avator span{
  height: 40px !important;
  line-height: 40px;
  display: inline-block;
}
.coachavator{
  height: 40px;
  border-radius: 3px;
}
.footerButton{
  width: 80%;
  margin-left: 10%;
  height: 50px;
  color: white;
  background-color: #6ed4e2;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.3em
}
.clear{
  clear: both;
}