body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; /*font-family: Verdana, Arial, Helvetica, sans-serif; */}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.container{
	width: 100%;
}
.header{
	margin-top: 15px;
	/*width: 100%;*/
	height: 30px;
	line-height: 30px;
	padding-left:20px;
	padding-right:20px
}
.header span{
	display: inline-block;
}
.side{
	width: 34%;
	/*height: 1px;*/
	border-top: 1px solid #a776be;
}
.middle{
	height: 30px;
	line-height: 30px;
	color: white;
	border-radius: 15px;
	text-align: center;
	background-color:#a776be; 
	width: 30%
}
.footer{
	margin-top: 40px;
	line-height: 60px;
	width: 90%;
	margin-left: 5%;
	border-top: 1px solid #a776be;
	border-bottom: 1px solid #a776be;
}
.footer span{
	display: inline-block;
}
.content p{
	margin-top: 15px;
	font-size: 16px;
	line-height: 20px
}