body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; /*font-family: Verdana, Arial, Helvetica, sans-serif; */}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
body{
	background-color: #f1f1f1;
}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.logo{
	width: 60%;
	margin-left: 20%;
	margin-top: 15%
}
.success{
	width: 40%;
	margin-left: 30%;
	margin-top: 15%
}
.wordPress{
	width:100%;
	text-align: center;
	font-size: 1.5em;
	margin-top: 5%;
	font-weight: 800;
}
.main{
	width: 100%;
	background-color: white;
	height: 130px;
	margin-top: 10%;
	/*padding-left: 5%;*/
	padding-top: 20px
}
.mainTop{
	width: 90%;
	/*margin-left: 5%;*/
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 1px;
	padding-left: 5%
}
.error{
	color: red;
	width: 90%;
	text-align: center;
	visibility: hidden;
	margin-top: 4px;
	display: block;
}
.mainBottom{
	margin-top: 5px;
	width: 90%;
	/*margin-left: 5%;*/
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f1f1f1;
	padding-left: 5%
}
.phone{
	height: 38px;
	line-height: 38px;
	width: 60%;
	border: none;
}
.submitPhone{
	width: 30%;
	margin-left: 2%;
	height: 26px;
	margin-top: 6px;
	font-size: 14px;
	border: 1px solid #5ac4ff;
	background-color: white
}
.identify{
	border: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px
}
.foot{
	margin-top:15%;
	width: 100%;
	/*padding-left: 5%;*/
}
.login{
	width: 90%;
	height: 45px;
	line-height: 45px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	background-color: #4ab1ff;
	border: none;
	margin-left: 5%
}
.homeImg{
	width: 100%
}
.moment{
	height: 40px;
	line-height: 40px;
	background-color: white;
}
.moment span{
	display: inline-block;
}
.spanLeft{
	width: 6em;
	text-align: left;
	height: 40px;
	line-height: 40px;
	padding-left: 1em;
	float: left;
}
.spanRight{
	width: 10em;
	text-align: right;
	padding-right: 1em;
	float: right;
	height: 40px;
	line-height: 40px;
	color: #ffcc88
}
.content{
	width: 100%;
	/*padding-left: 1em;*/
	background-color: white;
	margin-top: 18px
}
.content  h1{
	height: 40px;
	line-height: 40px;
	padding-left: 1em;
	width: 90%;
	border-bottom: 1px solid #f1f1f1;
	font-size: 1.2em
}
.wordList{
	padding-left: 1em;
	margin-bottom: 5px;
}
.footer{
	position: fixed;
	bottom: 0px;
	background-color: white;
	width: 100%;
	height: 60px;
	padding-top: 15px;
	/*padding-left: 5%;*/
}
.mainList{
	height: 50px;
	padding-top: 0px;
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px solid #f1f1f1;
	/*line-height: 50px;*/
}
.mainList p{
/*	display: inline-block;*/
	height: 50px;
	line-height: 50px;
	float: left
}
.leaveMessage{
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	width: 100%;
	background-color: #f1f1f1;
	border: none;
	border-radius: 5px
}
.other{
	background-color: white;
	margin-top: 15px;
	margin-left: 0px;
	width: 100%;

}
.siteList{
	height: 40px;
	line-height: 40px;
	text-align: left;
	border-bottom: 1px solid #f1f1f1;
}
.site{
	width: 100%;
	background-color: white;
}
.siteInfo{
	width: 90%;
	margin-left: 5%;
}
.container-fulid{
	display: none;
}
.siteList span{
	display: block;
}
.nameLeft{
	float: left;
	text-align: left;
}
.nameRight{
	float: right;
	text-align: right;
	width: 10%;
	color: #ffcc88
}
.location{
	width: 20px;
	/*float: left;*/
	padding-left: 1em;
	padding-top: 5px
}
.myLocation{
	/*float: left;*/
	margin-left: 10px;
}
.headerAddress{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f1f1f1
}
.headerAddress span{
	display: inline-block;
}
.ready{
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin-top: 15px;
	color: #ffcc88;
	font-weight: 800;
	display: none;
	padding-bottom: 10px;
}
.detaile{
	padding-left: 1.5em;
	margin-top: 10px;
}
.detaile span{
	color: #ffcc88;
	padding-left: 1em
}
.info{
	padding-left: 1.5em;
	margin-top: 10px;
}
.info span{
	display:inline-block;
}
.severout{
	color: #ffcc88;
}
.assoiate{
	width:9em;
	margin-left:4em;
	color:#c6c6c6;
	font-weight:800;
	height:50px;
	line-height:50px;
	border:none
}
.hideModel{
	position: absolute;
	left:0;
	bottom: 0;
	height: 270px;
	background-color: white;
	border-radius: 5px;
	width:100%;
	display: none;
}
.modelTop{
	height:30px;
	margin-top: 0px
}
.modelTop span{
	display: inline-block;
	height:30px;
	line-height: 30px
}
.timeChosen{
	width: 60%;
	text-align: right;
	color: #00BFFF;
}
.timeComplate{
	width: 25%;
	text-align: right;
	/*padding-right: 1em;*/
	color: #00BFFF;
}
.modelLeft{
	width: 50%;
	float: left;
	text-align: left;
	margin-top: 5px
}
.dayHide{
	width: 100%;
	text-align: center;
	/*margin-top: 30px;*/
	/*height: 150px;*/
	overflow: auto;

}
.dayHide li{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.datDetaile{
	border-bottom: 1px solid #f1f1f1
}
.timeDetaile{
	border-bottom: 1px solid #f1f1f1;

}
.timeHide{
	overflow: auto;
}
.modelRight{
	width: 45%;
	text-align: center;
	margin-top: 15px;
	height: 217px;
	float: left;
	overflow: auto;
	background-color: #fafafa
}
.modelRight li{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.forSiteId{
	display: none
}
.selecttimeid{
	display: none
}
.firstChose{
	height: 20px;
	line-height: 20px;
	color: #4ab1ff;
	padding-left: 1em;
	width: 50%;
	overflow: hidden;
	margin-top: 10px
}
.siteTime{
	padding-right: 1em
}
.addressout{
	font-size: 0.8em;
}