<!DOCTYPE>
<html>
	<head>
		<title>教练，您辛苦了！</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<script src="../js/lib/jquery.min.js"></script>
		<script src="../js/script/config.js"></script>
		<script src="../js/lib/weixin.js"></script>
		<script src="../js/lib/awardRotate.js"></script>
		<script src="../js/lib/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	</head>
	<body style="text-align:center;background-color:#ed3529;">
		<div class="nav_header" style="width:100%">
			<div class="header">
				<div class="imgheader" style="width:20%;border-radius:5px;float:left">
					<img src="" style="border-radius:5px;width:80%;margin:0 auto;margin-top:5px;" class="coachHeader">
				</div>
				<div class="imgheader" style="width:70%;float:left;text-align:left;color:white;margin-left:10px;margin-top:5px;">
					<span>教练：</span><span class="coachName"></span>
					
					<p style="padding-top:10px;"><span>签名：</span><span class="coachSign">快来帮我抽奖！快来帮我抽奖！</span></p>
				</div>
			</div>
			<img src="../img/background.jpg" style="width:100%">
			<img src="../img/1.png" id="shan-img" style="display:none;" />
		    <img src="../img/1.png" id="sorry-img" style="display:none;" />
			<div class="banner">
				<div class="turnplate" style="background-image:url(../img/turnplate-bg.png);background-size:100% 100%;">
					<canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
					<img class="pointer" src="../img/turnplate-pointer.png"/>
				</div>
			</div>
		</div>
		<div class="nav_content" style="">
			<div class="border" style="background-color:#ffbf00">
				<span class="nav_left" style="margin-left:5%"></span>
				<span class="nav_center"></span>
				<span class="nav_left"></span>
			</div>
			<button style="width:6em;height:30px;line-height:30px;margin-top:20px" class="more">加载更多</button>
		</div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content" style="background-color: #ed3529;">
		      		<p style="margin-top:30px;font-size:1.2em;color:white;margin-bottom:0px">恭喜您抽到</p>
		      		<p class="awardDetaile" style="margin-bottom:10px;font-size:1.2em;color:white;"></p>
		      		<img src="../img/envelope.png" style="width:50%;margin:0 auto;margin-top:-20px;display:block">
		      		<p class="awardDetaile" style="margin-top:-35%;font-size:1.5em;color:red;"></p>
		      		<div class="clear"></div>
		      		<p style="width:80%;margin:0 auto;margin-top:34%;height:0px;border-top:1px solid white;"></p>
		      		<p style="width:86%;margin:0 auto;margin-top:10px;color:white;text-align:left">给教练拜个早年吧:</p>
		      		<input type="text" placeholder="教练辛苦了,2016年财源广进" class="congration">
		      		<button class="givecoach">送给教练</button>
		    	</div>
		 	</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	var turnplate={
			restaraunts:[],				//大转盘奖品名称
			colors:[],					//大转盘奖品区块对应背景颜色
			outsideRadius:192,			//大转盘外圆的半径
			textRadius:155,				//大转盘奖品位置距离圆心的距离
			insideRadius:68,			//大转盘内圆的半径
			startAngle:0,				//开始角度
			bRotate:false				//false:停止;ture:旋转
	};
	$(document).ready(function(){
		// $('.modal').modal('show')
		//动态添加大转盘的奖品与奖品区域背景颜色
		turnplate.restaraunts = ["等蜂来随身装", "1元洗衣券", "4000元购车补贴券", "1元APP现金", "5元APP现金","谢谢支持"];
		turnplate.colors = ["#FFF4D6", "#FFFFFF", "#FFF4D6", "#FFFFFF","#FFF4D6","#FFFFFF"];
		var rotateTimeOut = function (){
			$('#wheelcanvas').rotate({
				angle:0,
				animateTo:2160,
				duration:8000,
				callback:function (){
					alert('网络超时，请检查您的网络设置！');
				}
			});
		};
		//旋转转盘 item:奖品位置; txt：提示语;
		var rotateFn = function (item, txt){
			var angles = item * (360 / turnplate.restaraunts.length) - (360 / (turnplate.restaraunts.length*2));
			if(angles<270){
				angles = 270 - angles; 
			}else{
				angles = 360 - angles + 270;
			}
			$('#wheelcanvas').stopRotate();
			$('#wheelcanvas').rotate({
				angle:0,
				animateTo:angles+1800,
				duration:8000,
				callback:function (){
					$(".awardDetaile").html(txt);
					turnplate.bRotate = !turnplate.bRotate;
					$('.modal').modal('show')
				}
			});
		};
		var getQueryStr=function(state){
			var reg = new RegExp("(^|&)" + state + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var state=getQueryStr("state");
		var getQueryStr=function(code){
			var reg = new RegExp("(^|&)" + code + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var wxcode=getQueryStr("code");
		var openId;
		$.post(BASE_URL+"/zhujbwx/circle/info",{
			 code:wxcode,
			 coachid:state
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				//这里面拿到教练和学员资料
				openId=result.user.Openid;
				coachId=result.user.Id;
				var headimg=result.coach.Headimgurl;
				$(".coachHeader").attr("src",headimg);
				var name=result.coach.Nickname;
				$(".coachName").html(name);
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		$('.pointer').click(function (){
			$.post(BASE_URL +"/zhujbwx/circle/rewards",{
				openid:openId
			},function(data){
				var result=JSON.parse(data);
				if(result && result.result == true){
					var reward=result.user.Rewards;
					if(turnplate.bRotate)return;
					turnplate.bRotate = !turnplate.bRotate;
					//获取随机数(奖品个数范围内)
					// var item = rnd(1,turnplate.restaraunts.length);
					//奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
					rotateFn(reward, turnplate.restaraunts[reward-1]);
					// console.log(item);
				}else if(result && result.msg){
					alert(result.msg)
				}
			})
		});
		$.post(BASE_URL+"/zhujbwx/circle/message",{
			coachid:state,
			start:'0',
			count:'5'
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				isLoad=false;
				var user=result.users;
				for(var index=0;index < user.length;index++){
					var wxnick=user[index].Nickname
					var wxaward=user[index].Rewards;
					var wxavator=user[index].Wxavator;
					var message=user[index].Message;
					var html="<div class='clear'></div>\
								<div class='messages'>\
								<div class='message_left'>\
									<img src="+wxavator+">\
								</div>\
								<div class='message_right'>\
									<p class='name'>"+wxnick+"</p>\
									<p class='detaile'>抽到："+turnplate.restaraunts[wxaward]+"，送给教练</p>\
									<p class='delive'>留言："+message+"</p>\
								</div>\
							</div>";
					$(html).insertBefore(".more");
				}
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		//加载更多数据
		var conutTemp=1;
		$(".more").on("click",function(){
			$.post(BASE_URL+"/zhujbwx/circle/message",{
				coachid:state,
				start:conutTemp*5-1,
				count:'5'
			},function(data){
				var result=JSON.parse(data);
				if(result && result.result == true){
					var user=result.users;
					if(!user){
						alert("没有更多了")
					}else{
						conutTemp=conutTemp+1;
						for(var index=0;index < user.length;index++){
							var wxnick=user[index].Nickname
							var wxaward=user[index].Rewards;
							var wxavator=user[index].Wxavator;
							var message=user[index].Message;
							var html="<div class='clear'></div>\
										<div class='messages'>\
										<div class='message_left'>\
											<img src="+wxavator+">\
										</div>\
										<div class='message_right'>\
											<p class='name'>"+wxnick+"</p>\
											<p class='detaile'>抽到："+turnplate.restaraunts[wxaward]+"，送给教练</p>\
											<p class='delive'>留言："+message+"</p>\
										</div>\
									</div>";
							$(html).insertBefore(".more");
						}
					}
				}else if(result && result.msg){
					alert(result.msg)
				}
			})
		})
		$.post(BASE_URL +"/zhujbwx/circle/count",{
			coachid:state
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				var count=result.count;
				$(".nav_center").html("送礼记录（"+count+"）")
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		$(".givecoach").on("click",function(){
			var message=$(".congration").val();
			if(!message){
				maeesge="教练辛苦了,2016年财源广进"
			}
			$.post(BASE_URL +"/zhujbwx/circle/words",{
				message : message,
				openid : openId
			},function(data){
				var result=JSON.parse(data);
				if(result && result.result == true){
					$('.modal').modal('hide');
					alert("留言成功");
				}else if(result && result.msg){
					alert(result.msg)
				}
			})
		})
		var url=location.href.split("#")[0];
		$.post(BASE_URL+"/zhujbwx/getsignature2/",{
			url:url
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true ){
				var timestamp=result.timestamp,
					nonceStr=result.noncestr,
					signature=result.signature;
				wx.config({
				    debug: false, 
				    appId: 'wx8bbeb53d26dbe214', 
				    timestamp:timestamp, 
				    nonceStr: nonceStr,
				    signature:signature,
				    jsApiList: [
				    	"onMenuShareTimeline",
				    	"onMenuShareAppMessage",
				    	"onMenuShareQZone",
				    	"onMenuShareQQ"

				    ] 
				});
				wx.ready(function(){
					wx.onMenuShareTimeline({
				        title: '最新送礼技能，快来Get！', // 分享标题
					    link: 'http://webapp.idrv.com.cn/invited?coachID='+state, // 分享链接  寻找教练webview
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
				        success: function () { 
				           
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareAppMessage({
				        title: '最新送礼技能，快来Get！', // 分享标题
				        desc: '据说抽到一等奖的，明年驾考都过了！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachID='+state, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
				        type: 'link', // 分享类型,music、video或link，不填默认为link
				        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				        success: function (){ 
				            
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareQQ({
					    title: '最新送礼技能，快来Get！', // 分享标题
				        desc: '据说抽到一等奖的，明年驾考都过了！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachID='+state, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
					    success: function () { 
					      
					    },
					    cancel: function () { 
					       // 用户取消分享后执行的回调函数
					    }
					});
					wx.onMenuShareQZone({
					    title: '最新送礼技能，快来Get！', // 分享标题
				        desc: '据说抽到一等奖的，明年驾考都过了！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachID='+state, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
					    success: function () { 
					       
					    },
					    cancel: function () { 
					        // 用户取消分享后执行的回调函数
					    }
					});
				})
			}else if(result && result.msg){
				var errorInfo=result.msg;
	 			alert(errorInfo);
	 		}
		})
	});
	function rnd(n, m){
		var random = Math.floor(Math.random()*(m-n+1)+n);
		return random;
		
	}
	//页面所有元素加载完毕后执行drawRouletteWheel()方法对转盘进行渲染
	window.onload=function(){
		drawRouletteWheel();
	};
	function drawRouletteWheel() {    
	  var canvas = document.getElementById("wheelcanvas");    
	  if (canvas.getContext) {
		  //根据奖品个数计算圆周角度
		  var arc = Math.PI / (turnplate.restaraunts.length/2);
		  var ctx = canvas.getContext("2d");
		  //在给定矩形内清空一个矩形
		  ctx.clearRect(0,0,422,422);
		  //strokeStyle 属性设置或返回用于笔触的颜色、渐变或模式  
		  ctx.strokeStyle = "#FFBE04";
		  //font 属性设置或返回画布上文本内容的当前字体属性
		  ctx.font = '16px Microsoft YaHei';      
		  for(var i = 0; i < turnplate.restaraunts.length; i++) {       
			  var angle = turnplate.startAngle + i * arc;
			  ctx.fillStyle = turnplate.colors[i];
			  ctx.beginPath();
			  //arc(x,y,r,起始角,结束角,绘制方向) 方法创建弧/曲线（用于创建圆或部分圆）    
			  ctx.arc(211, 211, turnplate.outsideRadius, angle, angle + arc, false);    
			  ctx.arc(211, 211, turnplate.insideRadius, angle + arc, angle, true);
			  ctx.stroke();  
			  ctx.fill();
			  //锁画布(为了保存之前的画布状态)
			  ctx.save();   
			  
			  //----绘制奖品开始----
			  ctx.fillStyle = "#E5302F";
			  var text = turnplate.restaraunts[i];
			  var line_height = 17;
			  //translate方法重新映射画布上的 (0,0) 位置
			  ctx.translate(211 + Math.cos(angle + arc / 2) * turnplate.textRadius, 211 + Math.sin(angle + arc / 2) * turnplate.textRadius);
			  
			  //rotate方法旋转当前的绘图
			  ctx.rotate(angle + arc / 2 + Math.PI / 2);
			  
			  /** 下面代码根据奖品类型、奖品名称长度渲染不同效果，如字体、颜色、图片效果。(具体根据实际情况改变) **/
			  if(text.indexOf("M")>0){//流量包
				  var texts = text.split("M");
				  for(var j = 0; j<texts.length; j++){
					  ctx.font = j == 0?'bold 20px Microsoft YaHei':'16px Microsoft YaHei';
					  if(j == 0){
						  ctx.fillText(texts[j]+"M", -ctx.measureText(texts[j]+"M").width / 2, j * line_height);
					  }else{
						  ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
					  }
				  }
			  }else if(text.indexOf("M") == -1 && text.length>6){//奖品名称长度超过一定范围 
				  text = text.substring(0,6)+"||"+text.substring(6);
				  var texts = text.split("||");
				  for(var j = 0; j<texts.length; j++){
					  ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
				  }
			  }else{
				  //在画布上绘制填色的文本。文本的默认颜色是黑色
				  //measureText()方法返回包含一个对象，该对象包含以像素计的指定字体宽度
				  ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
			  }
			  
			  //添加对应图标
			  if(text.indexOf("等蜂来随身装")>0){
				  var img= document.getElementById("shan-img");
				  img.onload=function(){  
					  ctx.drawImage(img,-15,10);      
				  }; 
				  ctx.drawImage(img,-15,10);  
			  }else if(text.indexOf("谢谢")>=0){
				  var img= document.getElementById("sorry-img");
				  img.onload=function(){  
					  ctx.drawImage(img,-15,10);      
				  };  
				  ctx.drawImage(img,-15,10);  
			  }
			  //把当前画布返回（调整）到上一个save()状态之前 
			  ctx.restore();
			  //----绘制奖品结束----
		  }     
	  } 
	}
</script>