<!DOCTYPE>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../js/lib/zetpo.min.js"></script>
		<script src="../js/script/config.js"></script>
	</head>
	<body>
		<div class="container">
			<img src="../img/success.png" class="forSuccess">
			<div class="price" style="margin-top:10%;">
				<span style="padding-left:2em">订单编号</span>
				<span class="priceDetaile timeagain" style="width:40%;text-align:right"></span>
			</div>
			<div class="price" >
				<span style="padding-left:2em">付款时间</span>
				<span class="priceDetaile tdAgain"></span>
			</div>
			<div class="price" >
				<span style="padding-left:2em">数量</span>
				<span class="priceDetaile amountAgain">1</span>
			</div>
			<div class="price" >
				<span style="padding-left:2em">支付金额</span>
				<span class="priceDetaile">￥3980</span>
			</div>
			<a href="http://party.idrv.com.cn/signUp/"><div class="submitPrice" style="background-color:#58c4ff;color:white;margin-top:40px">返回首页</div></a>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$.post(BASE_URL+"/enroll/orders/getporder.do",{

		},function(result){
			if(result && result.resultcode == "0"){
				var id=result.porder.tid,
					ordertime=result.porder.ordertime;
				$(".timeagain").html(id);
				$(".tdAgain").html(ordertime);
			}else if(result && result.resultcode == "-1"){
				alert("sorry,程序错误");
			}
		})
	})
</script>
