<!DOCTYPE>
<html>
	<head>
		<title>驾考007</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../js/lib/zetpo.min.js"></script>
		<script src="../js/script/config.js"></script>
	</head>
	<body style="background-color:#f7f7f7">
		<div class="container" >
			<div class="header">
				<p>手机号登录</p>
			</div>
			<div class="mainPhone forRegister">
				<div class="mainTop">
					<input type="text" placeholder="手机号" class="phone  forPhoneList">
					<button class="submitPhone" >获取验证码</button>
				</div>
				<small class="error">请输入正确的手机号</small>
				<div class="mainBottom">
					<input type="text" placeholder="验证码"  class="identify">
				</div>
			</div>
			<p class="agreeMent forRegister"> 点击前往报名即代表同意驾考007服务协议</p>
			<div class="goButton forRegister only">前往报名</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$(".submitPhone").on("click",function(){
			var phoneNumber=$(".forPhoneList").val();
			if(!phoneNumber.match(/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1})|(14[0-9]{1}))+\d{8})$/)){
				$(".error").css("visibility","visible");
				return false;
			}else{
				$(".submitPhone").attr("disabled","true");
				$(".error").css("visibility","hidden");
				function jump(countDown) {
	                window.setTimeout(function(){
	                    countDown--;
	                    if(countDown > 0){
	                        $(".submitPhone").html(countDown +'秒后'+ '重发');
	                        jump(countDown);
	                    }else{
	                        $(".submitPhone").html('发送验证码');
	                        $(".submitPhone").removeAttr("disabled");
	                    }
	                },1000);
	            }
	            jump(60);
				$.get(BASE_URL+"/basic/register/code",{
					phone:phoneNumber
				},function(result){
					if(result && result.success == true){
						//改变button的html
						 
					}else{
						alert("发送失败")
					}
				})
			}
		})
		$(".only").on("click",function(){
			var code=$(".identify").val();
			var phoneNumber=$(".forPhoneList").val();
			if(code!=="" ){
				$.post(BASE_URL+"/basic/register/verifyUser",{
					code:code
				},function(result){
					if(result && result.success == true){
						$.post(BASE_URL+"/enroll/orders/getporder.do",{

						},function(result){
							if(result && result.resultcode == "0"){
								location.href="/signUp/template/lookpayMent.html"
							}else if(result && result.resultcode == "-1"){
								alert("sorry,程序错误");
							}else if(result && result.resultcode == "-4"){
								var phone=result.phonenum;
								location.href="/signUp/template/yuyue.html?title="+phoneNumber;
							}else if(result && result.resultcode == "1"){
								location.href="/signUp/template/success.html"
							}else if(result && result.resultcode == "2"){
								location.href="/signUp/template/lookpayMent.html"
							}
						})
					}else{
						var errorInfo=result.errorInfo;
						alert(errorInfo);
					}
				})
			}else{
				alert("请确保输入完整");
			}
		})
	})
</script>
