<!DOCTYPE>
<html>
	<head>
		<title>驾考007</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../js/lib/zetpo.min.js"></script>
		<script src="../js/script/config.js"></script>
		<script src="../js/lib/pingpp_pay.js"></script>
		<script src="../js/lib/weixin.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<p>确认支付</p>
			</div>
			<div class="message" >
				<div class="price">
					<span style="padding-left:2em">订单名称</span>
					<span class="priceDetaile" style="color:black">高校包过班(C1手动档)</span>
				</div>
			</div>
			<div class="price" style="margin-top:15px;border-bottom:1px solid #d7d7d7">
				<span style="padding-left:2em">价格</span>
				<span class="priceDetaile">￥3980</span>
			</div>
			<div class="price" style="margin-top:0px;">
				<span style="padding-left:2em">支付金额</span>
				<span class="priceDetaile">￥3980</span>
			</div>
			<div class="price forZhifu" style="margin-top:15px;border-bottom:1px solid #d7d7d7;height:40px" title="1">
				<span style="padding-left:2em"><img src="../img/zhifubao.png" class="zhifubao"></span>
				<span class="forMust">支付宝支付</span>
				<span class="priceDetaile"><img src="../img/not.png" class="complate  myself"></span>
			</div>
			<div class="price foeWeixin" style="margin-top:0px;height:40px;" title="1">
				<span style="padding-left:2em;"><img src="../img/weixincopy.png" class="weixin"></span>
				<span class="forMust">微信支付</span>
				<span class="priceDetaile"><img src="../img/not.png" class="complate yourself"></span>
			</div>
			<div class="clear"></div>
			<div class="submitPrice" style="background-color:#58c4ff;color:white" >开始支付</div>
			<input type="hidden" class="hiddenInput">
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		var href=location.href;
		if (href.indexOf("code") !== -1) {
			$(".yourself").attr("src","../img/success.png");
			var href=location.href;
			window.coder=href.replace(/^.+&state\=/,'');
			var getQueryStr=function(code){
				var reg = new RegExp("(^|&)" + code + "=([^&]*)(&|$)", "i");
			    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
			    if (r != null){
			    	return (r[2]);
			    }else{
			    	return null;
			    } 
			}
			var codeMax=getQueryStr("code");
			$.post(BASE_URL+"/enroll/orders/getopenid.do",{
				wxcode:codeMax
			},function(result){
				if(result && result.resultcode=="0"){
					window.openid=result.openid;
					// alert(window.openid)
					$(".submitPrice").css("siaplay","block")
				}
			})
		}else{
			window.idNumber=href.replace(/^.+?title\=/,'');
			$(".yourself").attr("src","../img/not.png");
		};
		$(".forZhifu").on("click",function(){
			var title=$(this).attr("title");
			$(".submitPrice").css("display","block")
			if(title == "1"){
				$(".myself").attr("src","../img/success.png");
				$(".yourself").attr("src","../img/not.png");
			}
		})
		$(".foeWeixin").on("click",function(){
			var title=$(this).attr("title");
			$(".submitPrice").css("siaplay","none")
			if(title == "1"){
				$(".myself").attr("src","../img/not.png");
				$(".yourself").attr("src","../img/success.png");
			}
			location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx49a9db1095de4f65&redirect_uri=http%3a%2f%2fparty.idrv.com.cn%2fsignUp%2ftemplate%2fsuccess.html&response_type=code&scope=snsapi_base&state="+window.idNumber+"#wechat_redirect";
		})
		$(".submitPrice").on("click",function(){ 
			var myself=$(".myself").attr("src");
			var yourself=$(".yourself").attr("src");
			var subject="驾考007",
				channel="alipay_wap",
				amount="1",
				body="驾照报名";

			var success_url="http://party.idrv.com.cn/signUp/template/lookpayMent.html"
			if(myself == "../img/success.png" && yourself=="../img/not.png"){ //支付宝支付
				var href=location.href;
				if(href.indexOf("code") !== -1){
					$.post(BASE_URL+"/enroll/orders/enrollpay.do",{
						subject:subject,
						porderid:window.coder,
						channel:channel,
						body:body,
						amount:amount,
		            	success_url:success_url 
		 			},function(result){
		 				if(result && result.resultcode=="0"){
		 					var charge=result.charge;
			 				pingpp.createPayment(charge,function(result, error){
							    //只能处理微信支付的返回结果
							});
		 				}else if(result && result.resultcode=="-1"){
		 					alert("sorry,系统出错")
		 				}
		 				
		 			})
				}else{
					$.post(BASE_URL+"/enroll/orders/enrollpay.do",{
						subject:subject,
						porderid:window.idNumber,
						channel:channel,
						body:body,
						amount:amount,
		            	success_url:success_url 
		 			},function(result){
		 				if(result && result.resultcode=="0"){
		 					var charge=result.charge;
			 				pingpp.createPayment(charge,function(result, error){
							    //只能处理微信支付的返回结果
							});
		 				}else if(result && result.resultcode=="-1"){
		 					alert("sorry,系统出错")
		 				}
		 				
		 			})
				}
			}else if(myself == "../img/not.png" && yourself=="../img/success.png"){  //微信支付
				var channelnox="wx_pub";
				// alert(window.openid)
				$.post(BASE_URL+"/enroll/orders/enrollpay.do",{
					openid:window.openid,
					subject:subject,
					porderid:window.coder,
					channel:channelnox,
					amount:amount,
					body:body,
	            	success_url:success_url 
	 			},function(result){
	 				if(result && result.resultcode == "0"){
	 					var charge=result.charge;
	 					// alert(charge)
		 				pingpp.createPayment(charge,function(result, error){
						    if (result == "success") {
						        location.href="http://party.idrv.com.cn/signUp/template/lookpayMent.html"
						    } else if (result == "fail") {
						        alert("未知错误")
						    } else if (result == "cancel") {
						        // 微信公众账号支付取消支付
						    }
						});
	 				}else if(result && result.resultcode=="-1"){
	 					alert("sorry,系统出错")
	 				}
	 			})
			}else{ //没有选择支付方式
				alert("请选择支付方式")
			}
		})
	})
</script>