body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; /*font-family: Verdana, Arial, Helvetica, sans-serif; */}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
body{
	background-color: #f1f1f1;
}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.header{
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #58c4ff
}
.header p{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
}
.content{
	height: 180px;
	/*padding-top:60px;
	padding-bottom: 60px;*/
	width: 100%;
	background-color: #8cd6ff; 
}
.content p{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: 500;
}
.content h1{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: 800;
}
.mainList{
	width: 100%;
	height: auto;
}
.mian{
	width: 100%;
	height: auto;
}
.mainhead span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	float: left;
}
.mainhead{
	width: 100%;
	height: 30px;
	background-color:#58c4ff;
	margin-top: 5px 
}
.detaile{
	padding-top: 15px ;
	padding-bottom: 15px ;
	width: 85%;
	margin-left: 7.5%;
}
.detaile span{
	width: 49%;
	display: inline-block;
	border-bottom: 1px solid white;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.hanyu{
	border-right: 1px solid white;
}
.bottom{
	border-bottom: none !important
}
.money span{
	display: inline-block;
	border-bottom: 1px solid white;
	/*float: left;*/
}
.money {
	width: 90%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 5%;
	height: auto;
}
.sideLeft{
	width: 30%;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	/*height: 30px;
	line-height: 30px*/

}
.sideright{
	width: 62%;
	padding-bottom: 5px;
	padding-top: 5px;
	border-left: 1px solid white;
	text-align: left;
	padding-left: 1em
}
.hideContent{
	display: none
}
.footer{
	height: 50px;
	width: 100%;
	background-color:#808080;
	opacity: 0.8;
	position: fixed;
	bottom: 0px;
}
.footButton{
	height: 40px;
	position: fixed;
	bottom: 5px;
	width: 85%;
	left: 7.5%;
	color: white;
	background-color: #ff6c6c;
	border-radius: 5px;
	border: none;
	font-size: 20px;
}
.register{
	width: 100%;
	height: 60px;
}
.loginButton{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 25%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #58c4ff;
	background-color: white;
	color: #58c4ff;
	margin-left: 25%;
	float: left
}
.registerButton{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 25%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #58c4ff;
	background-color: #58c4ff;
	color: white;
	/*margin-left: 25%;*/
	float: left
}
.mainPhone{
	width: 95%;
	margin-left: 2.5%;
	background-color: white;
	height: 120px;
	margin-top: 3%;
	/*padding-left: 5%;*/
	padding-top: 20px
}
.mainTop{
	width: 90%;
	/*margin-left: 5%;*/
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 1px;
	padding-left: 5%
}
.error{
	color: red;
	width: 90%;
	text-align: center;
	visibility: hidden;
	margin-top: 4px;
	display: block;
}
.errorInfo{
	color: red;
	width: 90%;
	text-align: center;
	visibility: hidden;
	margin-top: 4px;
	display: block;
}
.mainBottom{
	margin-top: 5px;
	width: 90%;
	/*margin-left: 5%;*/
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f1f1f1;
	padding-left: 5%
}
.phone{
	height: 38px;
	line-height: 38px;
	width: 60%;
	border: none;
}
.submitPhone{
	width: 30%;
	margin-left: 2%;
	height: 26px;
	margin-top: 6px;
	font-size: 14px;
	border: 1px solid #5ac4ff;
	background-color: white
}
.identify{
	border: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px
}
.agreeMent{
	height: 30px;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	margin-top:20px;
}
.goButton{
	width: 80%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #58c4ff;
	color: white;
	margin-left: 10%;
	border-radius: 5px;
	margin-top: 5px
}
.forLogin{
	display: none;
}
.message{
	width: 100%;
	background-color: white;
	height: auto;
	margin-top: 15px;
}
.mHeader{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d7d7d7;
	text-align: center;
}
.price{
	width: 100%;
	background-color: white;
}
.price span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.priceDetaile{
	float: right;
	padding-right: 2em;
	color: #d7d7d7
}
.priceDetaile input{
	height: 40px;
	line-height: 40px;
	border: none;
	width: 100%;
}
.submitPrice{
	width: 90%;
	margin-left: 5%;
	height: 40px;
	line-height: 40px;
	background-color: #d7d7d7;
	margin-top: 30px;
	text-align: center;
	border-radius: 5px;
	/*display: none;*/
}
.zhifubao{
	height: 20px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	margin-top: 5px;
}
.weixin{
	height: 20px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	margin-top: 5px;
}
.clear{
	clear: both;
}
.forMust{
	position: relative;
	left: 5px;
	top: -10px
}
.complate{
	height: 16px;
	margin-top: 14px;
}
.forSuccess{
	width: 40%;
	margin-left: 30%;
	margin-top: 15%
}
.namePrice{
	text-align: right;
}