<!DOCTYPE>
<html>
	<head>
		<title>我被外星人绑架了</title>
		<meta charset="utf-8"/>
		<meta Content-Type="application/x-www-form-urlencoded" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<script src="../js/lib/zetpo.min.js"></script>
		<script src="../js/script/config.js"></script>
		<script src="../js/lib/weixin.js"></script>
		<script src="../js/lib/swiper.jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css">
	</head>
	<body style="text-align:center">
		<div class="swiper-container">
			<div class="swiper-wrapper">
			    <div class="swiper-slide container">
			    	<!-- 第一部分内容 -->
			    	<div class="coachInfo">
			    		<img src="" class="coachHeader">
			    		<p class="coachName"></p>
			    	</div>
			    	<img src="../img/btn1.png" class="next">
			    	<img src="../img/shanshan.png" style="position:fixed; bottom:0px;width:36%;left:32%" class="infinite animated bounceOut">
			    	
			    </div>
			    <div class="swiper-slide container2">
			    	<!-- 第二部分内容 -->
					<img src="../img/p2_img1.png"  style="width:100%">
					<img src="../img/ufo.png" class="leftImg" style="width:50%;margin-top:-15%">
					<img src="../img/man.png"  class="rightImg" style="width:80%;float:right">
					<img src="../img/alient.png" class="bottomImg" style="width:54%;margin-top:-10px">
					<img src="../img/arrow_up.png" class="arrowUp" style="float:right;margin-top:33%;margin-right:20px">
			    </div>
			    <div class="swiper-slide container2" style="text-align:center">
			    	<!-- 第三部分内容 -->
					<img src="../img/p3_img1.png"  style="width:100%;">
					<img src="../img/p3_img2.png" class="middleImg" style="width:80%;margin-top:10px">
					<img src="../img/p3_img3.png" class="middleImg2" style="width:80%;margin-top:10px">
					<img src="../img/btn2.png" class="middleImg3 goNext" style="width:40%;margin-top:15px;margin-left:30%" >
			    </div>
			    <div class="swiper-slide container3" style="text-align:center">
			    	<!-- 第四部分内容 -->
					<img src="../img/qr_code.png" style="margin-top:15%;" width="80%"/>
					<img  src="../img/logo.png"  style="width:30%;margin-top:20%" />
			    </div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		var getQueryStr=function(state){
			var reg = new RegExp("(^|&)" + state + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var coachId=getQueryStr("state");
		var getQueryStr=function(code){
			var reg = new RegExp("(^|&)" + code + "=([^&]*)(&|$)", "i");
		    var r = window.location.search.replace(/\?/g, "&").substr(1).match(reg);
		    if (r != null){
		    	return (r[2]);
		    }else{
		    	return null;
		    } 
		}
		var wxcode=getQueryStr("code");
		$.post(BASE_URL+"/zhujbwx/circle/coachinfo",{
			 coachid:coachId
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true){
				var headimg=result.coach.Headimgurl;
				$(".coachHeader").attr("src",headimg);
				var name=result.coach.Nickname;
				$(".coachName").html(name+"教练");
			}else if(result && result.msg){
				alert(result.msg)
			}
		})
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: false,//可选选项，自动滑动
			direction : 'vertical',
			speed:300,
			// onlyExternal:true,
			freeMode : false,
			watchSlidesProgress : true,
			onSlideChangeStart: function(swiper){
				console.log(mySwiper.activeIndex)
				if(mySwiper.activeIndex == 1){
					setTimeout(function(){
				        $('.leftImg').addClass('animated slideInLeft');
				        $('.leftImg').css('display','block');
				    }, 1000);
				    setTimeout(function(){
				        $('.rightImg').addClass('animated slideInRight');
				        $('.rightImg').css('display','block');
				    }, 2500);
				    setTimeout(function(){
				        $('.bottomImg').addClass('animated slideInUp');
				        $('.bottomImg').css('display','inline-block');
				        $('.arrowUp').addClass('animated fadeInUp infinite');
				        $('.arrowUp').css('display','inline-block');
				    }, 4000);
				}else if(mySwiper.activeIndex == 2){
					setTimeout(function(){
				        $('.middleImg').addClass('animated pulse');
				        $('.middleImg').css('display','block');
				    }, 1000);
				    setTimeout(function(){
				        $('.middleImg2').addClass('animated pulse');
				        $('.middleImg2').css('display','block');
				    }, 3000);
				    setTimeout(function(){
				        $('.middleImg3').addClass('animated pulse');
				        $('.middleImg3').css('display','block');
				    }, 5000);
				}
			}
		})
		// arrowUp
		$('.infinite').click(function(){
			mySwiper.slideNext();
			setTimeout(function(){
		        $('.leftImg').addClass('animated slideInLeft');
		        $('.leftImg').css('display','block');
		    }, 1000);
		    setTimeout(function(){
		        $('.rightImg').addClass('animated slideInRight');
		        $('.rightImg').css('display','block');
		    }, 2000);
		    setTimeout(function(){
		        $('.bottomImg').addClass('animated slideInUp');
		        $('.bottomImg').css('display','inline-block');
		        $('.arrowUp').addClass('animated fadeInUp infinite');
		        $('.arrowUp').css('display','inline-block');
		    }, 3000);
		})
		$('.arrowUp').click(function(){
			mySwiper.slideNext();
			setTimeout(function(){
		        $('.middleImg').addClass('animated pulse');
		        $('.middleImg').css('display','block');
		    }, 1000);
		    setTimeout(function(){
		        $('.middleImg2').addClass('animated pulse');
		        $('.middleImg2').css('display','block');
		    }, 3000);
		    setTimeout(function(){
		        $('.middleImg3').addClass('animated pulse');
		        $('.middleImg3').css('display','block');
		    }, 5000);
		})
		$('.goNext').click(function(){
			mySwiper.slideNext();
		})
	})
</script>
<!-- var url=location.href.split("#")[0];
		$.post(BASE_URL+"/zhujbwx/getsignature2/",{
			url:url
		},function(data){
			var result=JSON.parse(data);
			if(result && result.result == true ){
				var timestamp=result.timestamp,
					nonceStr=result.noncestr,
					signature=result.signature;
				wx.config({
				    debug: false, 
				    appId: 'wx8bbeb53d26dbe214', 
				    timestamp:timestamp, 
				    nonceStr: nonceStr,
				    signature:signature,
				    jsApiList: [
				    	"onMenuShareTimeline",
				    	"onMenuShareAppMessage",
				    	"onMenuShareQZone",
				    	"onMenuShareQQ"

				    ] 
				});
				wx.ready(function(){
					wx.onMenuShareTimeline({
				        title: '助驾帮来了，教练不要错过了', // 分享标题
					    link: 'http://webapp.idrv.com.cn/invited?coachId='+wxID, // 分享链接  寻找教练webview
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
				        success: function () { 
				           
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareAppMessage({
				        title: '助驾帮来了，教练不要错过了', // 分享标题
				        desc: '教练生涯全新启程，各位教练千万不要错过，早期加入更有特别福利！！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachId='+wxID, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
				        type: 'link', // 分享类型,music、video或link，不填默认为link
				        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				        success: function (){ 
				            
				        },
				        cancel: function (){ 
				            // 用户取消分享后执行的回调函数
				        }
				    });
				    wx.onMenuShareQQ({
					    title: '助驾帮来了，教练不要错过了', // 分享标题
				        desc: '教练生涯全新启程，各位教练千万不要错过，早期加入更有特别福利！！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachId='+wxID, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
					    success: function () { 
					      
					    },
					    cancel: function () { 
					       // 用户取消分享后执行的回调函数
					    }
					});
					wx.onMenuShareQZone({
					    title: '助驾帮来了，教练不要错过了', // 分享标题
				        desc: '教练生涯全新启程，各位教练千万不要错过，早期加入更有特别福利！！', // 分享描述
					    link: 'http://webapp.idrv.com.cn/invited?coachId='+wxID, // 分享链接
					    imgUrl: 'http://webapp.idrv.com.cn/invited/img/word.png', // 分享图标
					    success: function () { 
					       
					    },
					    cancel: function () { 
					        // 用户取消分享后执行的回调函数
					    }
					});
				})
			}else if(result && result.msg){
				var errorInfo=result.msg;
	 			alert(errorInfo);
	 		}
		}) -->